.hero {
     &__wrapper {
          @include flex(center, space-between);
          @include mobile {
               flex-direction: column;
          }
          &-item {
               width: 50%;
               @include mobile {
                    width: 100%;
               }
          }
     }
}
.feature {
     &__text-center {
          text-align: center;
          h5 {
               font-weight: 500;
          }
          h2 {
               font-weight: 800;
          }
          @include mobile {
               h2 {
                    font-size: 1.5rem;
               }
          }
     }
     &__wrapper {
          margin-top: 50px;
          @include flex(center, space-between);
          gap: 80px;
          @include mobile {
               @include flex(center, space-around);
               gap: 40px;
          }
     }
     &__item {
          padding: 0 20px;
          text-align: center;
          @include tablet {
               padding: 0;
               p {
                    display: none;
               }
          }
          &-img {
               img {
                    width: 40%;
                    height: 100%;
                    @include mobile {
                         width: 80%;
                    }
               }
          }
          h5 {
               font-weight: 600;
               @include mobile {
                    font-size: 0.7rem;
               }
          }
     }
     &__subtitle {
          margin-top: 20px;
          color: #df2020;
          font-family: "RocknRoll One", sans-serif !important;
          font-weight: 900;
     }

     &__title {
          span {
               color: #df2020;
               font-weight: 800;
               font-family: "RocknRoll One", sans-serif !important;
          }
     }
     &__text {
          color: #777;
          @include mobile {
               display: none;
          }
     }
}
.food {
     &__header {
          h2 {
               text-align: center;
          }
     }
     &__category {
          @include flex(center, center);
          gap: 30px;
          background-color: #df2020;
          text-align: center;
          margin-top: 30px;
          padding: 20px 0;
          border-radius: 10px;
          @include mobile {
               gap: 0;
               padding: 5px;
          }
          &-btn {
               @include flex(center, center);
               border: none;
               outline: none;
               padding: 7px 20px;
               background-color: transparent;
               color: #fff;
               img {
                    width: 30px;
                    height: 30px;
                    margin-right: 5px;
               }
               @include mobile {
                    font-size: 0.9rem;
               }
          }
     }
     &__body {
          margin-top: 50px;
     }
}

.food__category > .foodBtnActive {
     background-color: #fff !important;
     color: #df2020 !important;
     border-radius: 5px;
}
.location {
     box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
          rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
     margin-top: 50px;
     @include mobile {
          padding: 0;
     }
     &__wrapper {
          @include mobile {
               p {
                    font-size: 0.9rem;
               }
          }
     }
}
.location__title {
     font-weight: 700;
}
.location__title span {
     color: #df2020;
}
.location__desc {
     color: #777;
     line-height: 28px;
}
.choose__us__item {
     font-weight: 600;
}
.choose__us__item i {
     color: #df2020;
     font-size: 1.5rem;
}


